@model IEnumerable<PayrollApp.Models.JobTitle>

@{
    ViewData["Title"] = "JobTitleLibraryScreen";
}

<h1>List of Job Titles</h1>
<p><a asp-action="Create">Create</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Read</a> |
                <a asp-action="Create" asp-route-id="@item.Id">Create</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Update</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
